<div class="uk-position-bottom-center uk-background-secondary uk-width-1-1 uk-light">
	<p class="uk-text-center uk-padding-small">David Basil 2017</p>
</div><!-- /uk-position-bottom -->
<script src="/js/jquery.min.js"></script>
<script src="/js/uikit.min.js"></script>
</body>
</html>
