<div class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-left">
		<a href="" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #menu"></a>	
		<ul class="uk-navbar-nav">
			<li><a href="/about/" class="uk-visible@s">About</a></li>	
		</ul>
	</div><!-- /uk-navbar-left -->
	<div class="uk-navbar-right">
		<a href="/" class="uk-navbar-item uk-logo uk-text-danger">Movie Review</a>
	</div><!-- /uk-navbar-right -->
</div><!-- /uk-navbar-container -->

<!-- offcanvas -->
<div id="menu" uk-offcanvas>
	<div class="uk-offcanvas-bar">
		<a href="/about/">About</a>
	</div><!-- /uk-offcanvas-bar -->
</div><!-- /uk-menu -->

