<%- include partials/head %>
<%- include partials/nav %>

<div class="uk-container">

	<div class="uk-card uk-card-default uk-card-hover">

		<div class="uk-card-header">
			<h3 class="uk-card-title">Star Wars</h3>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star-o"></i>
		</div><!-- /uk-card-header -->

		<div class="uk-card-body">

			<div class="uk-grid-divider" uk-grid>

				<div class="uk-width-1-2">
					<h5>Cast:</h5>
					<span class="uk-label uk-label-primary">David Basil</span>
					<span class="uk-label uk-label-primary">Brad Pitt</span>
					<h5>Year:</h5>
					<span class="uk-label uk-label-primary uk-margin-bottom">2002</span>
					<div class="uk-media-bottom">
						<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BZDk2NmNhZDgtZDgzZS00NTRkLWFiYjUtNGMzZTYwNTFhYjFmXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SY1000_CR0,0,634,1000_AL_.jpg" alt="" class="uk-height-medium uk-margi-top">
					</div><!-- /uk-media-bottom -->
				</div><!-- /uk-width-1-2 -->

				<div class="uk-width-1-2">
					<div class="review">
						<h4>Reviews <a class="uk-button uk-button-primary uk-float-right">Add a review</a></h4>
						<hr class="uk-divider-small">
						<ul class="uk-list uk-list-divider">
							<li>
								<p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
								<span class="uk-float-right uk-badge uk-margin-righ">Author: David Basil</span>
								<span class="uk-float-right uk-badge">Time: 2017/12/12</span>
								</p>
								<p>
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
								tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
								vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
								no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</p>
							</li>
							<li>
								<p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<span class="uk-float-right uk-badge uk-margin-righ">Author: David Basil</span>
								<span class="uk-float-right uk-badge">Time: 2017/12/12</span>
								</p>
								<p>
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
								tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
								vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
								no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</p>
							</li>
						</ul>
					</div><!-- /review -->

				</div><!-- /uk-width-1-2 -->

			</div><!-- /uk-grid -->

		</div><!-- /uk-card-body -->

	</div><!-- /uk-card -->

</div><!-- /uk-container -->


<%- include partials/footer %>
