<%- include partials/head %>
<%- include partials/nav %>
<div class="uk-container">
	<h2>Star Wars</h2>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star-o"></i>
</div><!-- /uk-container -->
<%- include partials/footer %>
