<%- include partials/head %>
<%- include partials/nav %>
<div class="uk-container">
	<h3 class="uk-heading">Movies to review</h3>
	<hr class="uk-divider-small">
	<ul class="uk-list uk-list-divider uk-list-large">
		<li>
			<h4><a href="/movie">Star Wars</a></h4>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star-o"></i>
			<i class="fa fa-star-o"></i>
			<p>
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
			tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
			vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
			no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</p>
			<span class="uk-label uk-label-success">Sci-Fi</span>
			<span class="uk-label uk-label-success">Horror</span>
			<span class="uk-label uk-label-success">Documentary</span>
		</li>
		<li>
			<h4><a href="/movie">Water World</a></h4>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star-o"></i>
			<p>
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
			tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
			vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
			no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</p>
			<span class="uk-label uk-label-success">Sci-Fi</span>
			<span class="uk-label uk-label-success">Horror</span>
			<span class="uk-label uk-label-success">Documentary</span>
		</li>
		<li>
			<h4><a href="/movie">Interstellar</a></h4>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<p>
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
			tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
			vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
			no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</p>
			<span class="uk-label uk-label-success">Sci-Fi</span>
			<span class="uk-label uk-label-success">Horror</span>
			<span class="uk-label uk-label-success">Documentary</span>
		</li>
	</ul>
</div><!-- /uk-container -->

<%- include partials/footer %>
